{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h1 style="text-align:center">
            <a class='nav-item nav-link' href="/downloadRNHT/Jarvis.txt">How to use Jarvis</a>
        </h1>
        <br>
        <br>
        <h1 style="text-align:center">
            <a class='nav-item nav-link' href="{{url_for('Doc')}}">Documentaciones</a>
        </h1>
        <br>
        <br>
        <h1 style="text-align:center">
            <a class='nav-item nav-link' href="{{url_for('FW')}}">Firmwares & UI</a>
        </h1>
        <br>
        <br>
        <h1 style="text-align:center">
            <a class='nav-item nav-link' href="http://127.0.0.1:8000/" target="_blank">Monitoreo</a>
        </h1>
        <br>
        <br>
    </div>
</article>
{% endblock content %}

