{% extends "layout.html" %}
{% block content %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="content-section">
    <br>
    <div class="btn-group">
                    <button type="button" class="btn btn-danger " style="margin-right: 10px" onclick="location.href = '/';" >Back</button>
                </div>
    <br>
    <form method="POST" action="">
        <div class="media-body">
            <br>
                <legend class="border-bottom mb-4">SSP</legend>
            <button type="button" class="btn btn-success " onclick="location.href = '/SSP/AddSSPAcc';">Create new account</button>
            <br>
            <br>
            <legend class="border-bottom mb-4"></legend>
            <button type="button" class="btn btn-success " onclick="location.href = '/SSP/Adddevice';">Add device </button>
            <br>
            <br>
            <legend class="border-bottom mb-4"></legend>
            <div class="form-group">
                <button type="submit" class="btn btn-success ">Search </button>
            </div>
            <div class="form-group" >
                {{ form.filter.label(class="form-control-label") }}
                {{ form.filter(class="form-control form-control-lg") }}

                {{ form.filtertype.label(class="form-control-label") }}
                {% if form.filtertype.errors %}
                {{ form.filtertype(class="is-invalid") }}
                <div class="invalid-feedback">
                                {% for error in form.filtertype.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                {% else %}
                {{ form.filtertype(class="form-control") }}
                {% endif %}
            </div>
                <div class="table-responsive">
                <br>
                <table class="table table-sm table-borderless mb-0">
                    <thead class="thead-dark">
                    {% if form.filtertype.data == 'CaSN' %}
                        <tr>
                            <th>ID</th>
                            <th>AccountID</th>
                            <th>CaSN</th>
                            <th>Status</th>
                            <th>Created</th>
                            <th>Modified</th>
                            <th>ActStatus</th>
                            <th>Actions</th>
                        </tr>
                    {%endif%}
                    {% if form.filtertype.data == 'AccountId' %}
                        <tr>
                            <th>AccNum</th>
                            <th>AccountID</th>
                            <th>PVRStatus</th>
                            <th>AccStatus</th>
                            <th>Created</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    {%endif%}
                    </thead>
                    <tbody>
                        {% for device in devices %}
                            <tr >
                                {% if form.filtertype.data == 'CaSN' %}
                                    <td>{{device[0]}}</td>
                                    <td>{{device[1]}}</td>
                                    <td>{{device[2]}}</td>
                                    <td>{{device[4]}}</td>
                                    <td>{{device[5]}}</td>
                                    <td>{{device[6]}}</td>
                                    <td>{%if  device[7]  == 'ACTIVE' %}
                                         <i class="fa fa-check" aria-hidden="true"> </i>
                                    {% else %}
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {% endif %}</td>
                                {%endif%}
                                {% if form.filtertype.data == 'AccountId' %}
                                    <td>{{device[0]}}</td>
                                    <td>{{device[1]}}</td>
                                    <td>{%if  device[4]  == 'ENABLED' %}
                                         <i class="fa fa-check" aria-hidden="true"> </i>
                                    {% else %}
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {% endif %}</td>
                                    <td>{%if  device[5]  == 'ACTIVE' %}
                                             <i class="fa fa-check" aria-hidden="true"> </i>
                                        {% else %}
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                        {% endif %}</td>
                                    <td>{{device[2]}}</td>
                                    <td>{{device[3]}}</td>
                                {%endif%}
                                <td>
                                    {%if form.filtertype.data == 'AccountId' and form.filter.data == '' %}
                                        <button type="button" class="btn btn-default" name="{{device[0]}}" onclick="location.href = '/Addproduct/{{device[0]}}';">
                                            <span class="glyphicon glyphicon-check"></span>
                                        </button>
                                    {% elif form.filtertype.data == 'AccountId' and not acc_devices %}
                                        <button type="button" class="btn btn-default" disabled name="{{device[0]}}">
                                            <span class="glyphicon glyphicon-check"></span>
                                        </button>
                                    {%elif form.filtertype.data == 'AccountId' %}
                                        <button type="button" class="btn btn-default" name="{{device[0]}}" onclick="location.href = '/Addproduct/{{acc_devices[0][0]}}';">
                                            <span class="glyphicon glyphicon-check"></span>
                                        </button>
                                    {%endif%}
                                    {% if form.filtertype.data == 'CaSN' %}
                                        <button type="button" class="btn btn-default" name="{{device[0]}}" onclick="location.href = '/Addproduct/{{device[0]}}';">
                                            <span class="glyphicon glyphicon-check"></span>
                                        </button>
                                    {%endif%}
                                    <button type="button" class="btn btn-default" name="{{device[0]}}" onclick="location.href = '/Editdevice/{{device[0]}}';">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    {% if form.filtertype.data == 'CaSN' %}
                                    <button type="button" class="btn btn-default" name="{{device[0]}}" data-toggle="modal" data-target="#deleteservice{{ device[0] }}">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                    {%endif%}
                                    {% if form.filtertype.data == 'AccountId' %}
                                        <button type="button" class="btn btn-default" name="{{device[0]}}" data-toggle="modal" data-target="#deleteservice{{ device[1] }}">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    {%endif%}
                                    <!-- The Modal (configservice) -->
                                    <div class="modal" id="upgradeservice{{ device[0] }}">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <!-- Modal Header -->
                                          <div class="modal-header">
                                            <h4 class="modal-title">Confirmacion</h4>
                                          </div>
                                          <!-- Modal body -->
                                          <div class="modal-body" align="center">
                                              Esta seguro que desea continuar?{{device[0]}}
                                          </div>
                                          <div class="modal-footer" align="right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-danger " style="margin-right: 10px" data-dismiss="modal" >Cancelar</button>
                                                    <button type="button" class="btn btn-success " style="margin-right: 10px" onclick="location.href = '/Editdevice/{{device[0]}}';" >Aceptar</button>
                                                </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- The Modal (delete) -->
                                    {% if form.filtertype.data == 'CaSN' %}
                                        <div class="modal" id="deleteservice{{ device[0] }}">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <!-- Modal Header -->
                                          <div class="modal-header">
                                            <h4 class="modal-title">Confirmacion</h4>
                                          </div>
                                          <!-- Modal body -->
                                          <div class="modal-body" align="center">
                                              Esta seguro que desea continuar?
                                          </div>
                                          <div class="modal-footer" align="right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-danger " style="margin-right: 10px" data-dismiss="modal" >Cancelar</button>
                                                    <button type="button" class="btn btn-success " style="margin-right: 10px" onclick="location.href = '/Deletedevice/{{device[0]}}';" >Aceptar</button>
                                                </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    {%endif%}
                                    {% if form.filtertype.data == 'AccountId' %}
                                        <div class="modal" id="deleteservice{{ device[1] }}">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <!-- Modal Header -->
                                          <div class="modal-header">
                                            <h4 class="modal-title">Confirmacion</h4>
                                          </div>
                                          <!-- Modal body -->
                                          <div class="modal-body" align="center">
                                              Esta seguro que desea continuar?
                                          </div>
                                          <div class="modal-footer" align="right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-danger " style="margin-right: 10px" data-dismiss="modal" >Cancelar</button>
                                                    <button type="button" class="btn btn-success " style="margin-right: 10px" onclick="location.href = '/DeleteSSPAcc/{{device[1]}}';" >Aceptar</button>
                                                </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    {%endif%}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>

</div>
<article class="media content-section">
            <div class="media-body">
                <button class="btn btn-primary" onclick="myUFunction()">STBs in the account ({{len_devices}})</button>
                <br>
                <br>
                <div id="stb" style="display:none;">
                    <table class="table table-sm table-borderless mb-0">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>CaSN</th>
                                        <th>Enable</th>
                                        <th>ActivationStatus</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for acc_device in acc_devices %}
                                    <tr >
                                        <td>{{acc_device[0]}}</td>
                                        <td>{{acc_device[1]}}</td>
                                        <td>{%if  acc_device[7]  == 'ACTIVE' %}
                                            <i class="fa fa-check" aria-hidden="true"> </i>
                                            {% else %}
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                            {% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                </div>
            </div>
        </article>
<script>
function myUFunction() {
  var x = document.getElementById("stb");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
function mySFunction() {
  var x = document.getElementById("servicios");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
function myRFunction() {
  var x = document.getElementById("recursos");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
{% endblock content %}

